<section class="containar d-flex justify-content-center p-3">
  <div class="col-5 p-5">
    <div>
   <%= image_tag "PK-PAUI8343-2_TP_V4 (1).jpg", class: "background-image" %>
  </div>
    <h1 class="p-3">サービス概要</h1>
    <p>○○市のスーパー "トクマル商店" のネットスーパーです。<br>
       重たいものなどお買い物のしづらいものやお忙しいときなど<br>
       玄関先までお届けさせていただきます！</p>

    <p> お届けは基本、ご注文の翌日にさせていただきます。<br>
        配送手数料は、一律５００円です。</p>
  </div>
</section>