<section class="containar d-flex justify-content-center p-5">
  <div class="col-5">
    <h1 class="border-bottom border-info">ジャンル編集</h1>
    <%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>
    <p class="pt-5">ジャンル名</p>
    <%= f.text_field :name %>
    <%= f.submit "変更を保存", class:"btn btn-success" %>
    <% end %>
  </div>
</section>